.twit {
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: white;
}

.twitIcon {
  font-size: 24px;
}

.twitContent {
  flex: 1 1 80%;
  margin-left: 10px;
}

.twitText {
  margin: 0;
}

.twitContent .twitAuthor {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}
